.tinyimg-quality {
  position: fixed;
  top: 30px;
  right: 30px;
  height: 30px;
  padding: 0 4px;
  border-bottom: 1px solid #666666;
  line-height: 30px;
}
.tinyimg-uploader {
  position: relative;
  width: 400px;
  height: 160px;
  border: 2px dashed #666666;
  margin: 100px auto;
  border-radius: 7px;

  label {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
  }
  input {
    position: absolute;
    width: 0;
    height: 0;
  }
}
.tinyimg-files {
  max-width: 800px;
  padding: 10px;
  margin: 0 auto;
  border: 1px solid #666666;
  border-radius: .2em;
}
.tinyimg-files-item {
  display: block;
  height: 28px;
  margin: .4em;
  padding: 0 1.28em;
  background: #f0f0f0;
  border: .1em solid #cfdbde;
  border-radius: .2em;
  font-weight: bold;
  line-height: 28px;
  color: #363a43;
}
.item-msg {
  display: inline-block;
  vertical-align: top;
}
.tinyimg-files-item-1,
.tinyimg-files-item-2,
.tinyimg-files-item-3 {
  position: relative;
  box-sizing: border-box;
  height: 28px;
  overflow: hidden;
}
.tinyimg-files-item-1 {
  width: 30%;
  padding-right: 70px;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  .m-size {
    position: absolute;
    top: 0;
    right: 0;
    width: 66px;
    padding-right: 4px;
    font-weight: normal;
    text-align: right;
    font-size: 12px;
    overflow: hidden;
  }
}
.tinyimg-files-item-2 {
  width: 40%;
  height: 28px;
}
.tinyimg-files-item-3 {
  width: 30%;
  padding-left: 70px;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  .m-size {
    position: absolute;
    top: 0;
    left: 0;
    width: 66px;
    padding-right: 4px;
    font-weight: normal;
    font-size: 12px;
    overflow: hidden;
  }
}
.tinyimg-quality-val {
  display: inline-block;
  vertical-align: top;
  padding: 0 4px;
  line-height: 30px;
  input {
    width: 30px;
    height: 28px;
    text-align: center;
  }
}